@import url(./components/icon.css);
@import url(./components/tool-tip.css);
@import url(./components/form.css);
@import url(./components/table.css);
@import url(./components/grid.css);
@font-face {
  font-family: GoogleSans-Regular;
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
  font-family: GoogleSans-Bold;
  src: url(../fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
  font-family: GoogleSans-Italic;
  src: url(../fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
  font-family: GoogleSans-Semibold;
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
}
:root {
  --bgr-menu: rgb(233, 233, 233);
  --btn-primary: #2ca01c;
  --btn-hover: #46ac39;
  --btn-active: #3a9c2d;
  --width-column: 84px;

  --input-focus: #019160;
  --input-focus-err: #ff4747;
  --border-table: #bbb;
  --bgr-menu: rgb(38, 38, 38);

  --bgr-pop-up: rgba(87, 86, 86, 0.433);
  --border-input-default: #bbb;

  --width-row: 36px;
  --height-default: 34px;

  --height-menu: 50px;
  --with-menu: 200px;
  --with-menu-collapse: 56px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: GoogleSans-Regular;
  font-size: 13px;
  width: 100%;
  position: relative;
}
.m-main-content{
  background-color: rgb(221, 221, 221);
  height: calc(100vh - var(--height-menu));
  width: 100%;
  position: relative;
  right: 0;
  padding: 20px 24px;
}
.m-main {
  display: flex;
  width: 100%;
}
.m-content {
  width: calc(100% - 200px);
  min-width: 700px;
}
img {
  height: 100%;
  width: 100%;
}
.m-t-16{
  margin-top: 16px;
}
.m-t-20{
  margin-top: 20px;
}
li {
  list-style-type: none;
}
/* Scroll style */
::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer !important;
}
/* Hiển thị quá dòng thì ... */
.truncate {
  white-space: nowrap; /* ngăn chặn các từ xuống dòng */
  overflow: hidden; /* ẩn nội dung dài */
  text-overflow: ellipsis; /* hiển thị dấu "..." khi nội dung quá dài */
}

.truncate_two-row{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer !important;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}