.m__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0px 9px 38px -8px rgba(0,0,0,0.23);
    height: var(--height-menu);
    width: 100%;
}

/* start header */
.m__header-left{
    display: flex;
    align-items: center;
    min-width: max-content;
}
.m__header-bar{
    cursor: pointer;
}
.m__header-name{
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    margin-left: 25px;
    align-items: center;
}
.m__header-name__icon{
    margin-left: 10px;
}
.m__header-name__content{
    text-transform: uppercase;
}


.m__header-right{
    display: flex;
    align-items: center;
    min-width: max-content;
}
.m__header-notification{
    cursor: pointer;
}
.m__header-setting{
    display: flex;
    align-items: center;
}
.setting__avt{
    width: 25px;
	height: 25px;
    border-radius: 50%;
    background-color: rgb(245, 245, 246);
    margin-left: 20px;
    margin-right: 7px;
    margin-top: -2px;
}
.setting__avt img{
    border-radius: 50%;
}
.setting__info{
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
}
.setting__info-name{
    margin-right: 10px;
}