.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}
.card{
    min-width: 250px !important;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    border: none;
    margin-bottom: 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card-block {
    padding: 0.5rem ;
}
.card-footer {
    border-top: none;
    padding: 8px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 17px;
}
.bg-c-yellow{
    background: linear-gradient(to right,#fe9365,#feb798);
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.align-items-center{
    align-items: center!important;
}
.align-items-center h4{
    font-size: 16px;
}
.align-items-center > i{
    padding-right: 4px;
}
.item-number .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    text-align: center;
}
.text-c-yellow {
    color: #fe9365;
}
.text-muted {
    color: #919aa3!important;
}
.text-right {
    text-align: right!important;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    text-align: center;
}
.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.text-white {
    color: #fff!important;
}
.text-right {
    text-align: right!important;
}
.feather {
    font-family: feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.f-16 {
    font-size: 16px;
}
.bg-c-green {
    background: linear-gradient(to right,#0ac282,#0df3a3);
}
.bg-c-pink {
    background: linear-gradient(to right,#fe5d70,#fe909d);
}
.bg-c-blue {
    background: linear-gradient(to right,#01a9ac,#01dbdf);
}
.home-char{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}
.text-right > i{
    font-size: 20px;
    color: var(--btn-primary);
}
.item-number  h4{
    font-size: 14px !important;
}
.item-number  h6{
    font-size: 14px !important;
}